#include <windows.h>

IDD_DIALOG1 DIALOG 0, 0, 200, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog Box 1"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX  "Options", IDC_STATIC, 10, 10, 180, 80
    CONTROL   "Option 1", IDC_RADIO_BUTTON1, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 20, 30, 160, 15
    CONTROL   "Option 2", IDC_RADIO_BUTTON2, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 20, 55, 160, 15
    PUSHBUTTON "OK", IDOK, 70, 100, 60, 20
END
